extends layout

block content
  div(class="container" style="text-align:center;")
    form(method="post" action="/decrypt" enctype="multipart/form-data" id="fileDecryptForm")
      br
      h2 Upload a file to decrypt!
      br
      div(class="form-group mb-3")
        div(class="custom-file")
          input(type="file" class="custom-file-input form-control" id="fileInput" name="toDecrypt")
          label(class="custom-file-label" for="fileInput") Choose file
      br
      h3 Filename:
      input(type="text" class="form-control" id="filenameInput" placeholder="Your original filename" name="filename")
      br
      h3 Decryption key:
      h7 Please provided the same key you used during encryption
      input(type="password" class="form-control" id="keyInput" placeholder="Decryption key" name="key")
      br
      h3 Encryption type:
      h7 Please choose the same algorithm you used for encryption!
      br
      div(class="form-check form-check-inline")
        input(class="form-check-input" type="radio" name="encryptionType" id="aes256radio" value="AES256" checked)
        label(class="form-check-label" for="aes256radio") AES-256
      div(class="form-check form-check-inline")
        input(class="form-check-input" type="radio" name="encryptionType" id="aes192radio" value="AES192")
        label(class="form-check-label" for="aes192radio") AES-192
      div(class="form-check form-check-inline")
        input(class="form-check-input" type="radio" name="encryptionType" id="aes128radio" value="AES128")
        label(class="form-check-label" for="aes128radio") AES-128
      div(class="form-check form-check-inline")
        input(class="form-check-input" type="radio" name="encryptionType" id="des3radio" value="DES3")
        label(class="form-check-label" for="des3radio") DES3
      div(class="form-check form-check-inline")
        input(class="form-check-input" type="radio" name="encryptionType" id="desradio" value="DES")
        label(class="form-check-label" for="desradio") DES
      div(class="form-check form-check-inline")
        input(class="form-check-input" type="radio" name="encryptionType" id="bfradio" value="BF")
        label(class="form-check-label" for="bfradio") BF
      br
      br
      button(class="btn btn-primary" type="submit" id="uploadBtn" disabled) Decrypt!
  script(type="text/javascript" src="javascripts/clientDecrypt.js")