doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title= title
    link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css")
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/popper.min.js")
    script(src="javascripts/bootstrap.min.js")

    script(src="javascripts/jquery.form.js")

  body
    nav(class="navbar navbar-expand-lg navbar-dark bg-primary mb-3" id="navBar")
      a(class="navbar-brand" href="#") File Encryptor
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse")
        div(class="navbar-nav")
          a(class="nav-item nav-link" href="/" id="encryptNav") Encrypt
        div(class="navbar-nav")
          a(class="nav-item nav-link" href="/decrypt" id="decryptNav") Decrypt
    block content
    br
    small(class="align-bottom fixed-bottom" style="text-align:center;") Maciej Stokfisz 2020
